{% load i18n static %}
<div class="container-fluid background-bar">

	<div class="container features">
		<div class="intro">
			<h2>{% trans "Software Development That Makes You Deliver." %}</h2>
			<p>{% blocktrans %}Integrated, end-to-end software development processes
				you don't need to <span class="nowrap">learn, manage or train.</span>
				<span class="nowrap">For managers and developers.</span>
			{% endblocktrans %}</p>
			<nav class="secondary">{% include 'content/snippets/navigation.html' %}</nav>
		</div>
	</div>

</div>
<div class="container features">

	<div class="row">
		<div class="col-sm-6">
			<h3>{% trans "Continuous Delivery Made Easy" %}</h3>
			<p>{% blocktrans %}Bootstrap your project. Deploy it from day one.
				Monitor everything.{% endblocktrans %}</p>
			<blockquote>{% blocktrans %}Continuous delivery sounds easy in theory,
				but it's hard to do in practice. Generate a painless setup with the tools you
				love, then focus on your code!
			{% endblocktrans %}</blockquote>
		</div>
		<div class="col-sm-6">
			<img src="{% static 'img/painless-bootstrap-project-setup.png' %}"
				 alt="{% trans 'CI/CD setup screen' %}" class="img-responsive">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-push-6">
			<h3>{% trans "Use the Tools You Love" %}</h3>
			<p>{% blocktrans %}Docker, Vagrant or local development. We prepare the safest
				route. You pick what you want.{% endblocktrans %}</p>
			<blockquote>{% blocktrans %}Everyone should use Docker, but you're the Pro.
				We give you the freedom, with a bit of responsibility.  If you feel you're
				more efficient with your own, local setup simply start developing as usual!
			{% endblocktrans %}</blockquote>
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<img src="{% static 'img/painless-dev-docker-virtualenv.png' %}"
				 alt="{% trans 'Docker versus Virtualenv' %}" class="img-responsive">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h3>{% trans "Risk-free Deployments" %}</h3>
			<p>{% blocktrans %}Easy development. Hard quality gates. Automatic checks,
				supported by the tests you write.{% endblocktrans %}</p>
			<blockquote>{% blocktrans %}You should have it easy to experiment, but when it
				turns to releasing the changes we want confidence. State-of-the-art release
				processes identify flaws automatically and stop the train before it crashes.
			{% endblocktrans %}</blockquote>
		</div>
		<div class="col-sm-6">
			<img src="{% static 'img/painless-deployment-aborted.png' %}"
				 alt="{% trans 'Aborted deployment status' %}" class="img-responsive">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-push-6">
			<h3>{% trans "Application Monitoring and Crash Reporting" %}</h3>
			<p>{% blocktrans %}Shit happens. But it should never go unnoticed. Get notified
				early, and know where to fix things.{% endblocktrans %}</p>
			<blockquote>{% blocktrans %}We integrate the services you need to get your job
				done. They tell you which piece of the code blew up, so your team can fix
				the issue in no time.
			{% endblocktrans %}</blockquote>
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<img src="{% static 'img/painless-monitoring-crash-reporting.png' %}"
				 alt="{% trans 'Python stack trace' %}" class="img-responsive">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h3>{% trans "Learn on the Job" %}</h3>
			<p>{% blocktrans %}Let the platform tell you what could be improved next.
				Get better at coding every day. Learning resources included.{% endblocktrans %}</p>
			<blockquote>{% blocktrans %}KPIs tell you how good the quality of your code is.
				Push your code and see the numbers improving. The links for background reading
				are right there if you need to get yourself educated.
			{% endblocktrans %}</blockquote>
		</div>
		<div class="col-sm-6">
			<img src="{% static 'img/painless-improve-code-suggestion.png' %}"
				 alt="{% trans 'Improvement suggestion' %}" class="img-responsive">
		</div>
	</div>

</div>
