{% block footer %}{% load i18n %}
		<div class="row text-muted">
			<div class="col-xs-12 col-sm-4 pull-left text-left">
				<i aria-label="Copyright" class="far fa-copyright"></i> {% now 'Y' %} <a href="https://painless.software/">Painless Software</a>
				· <a href="{% url 'content-howitworks' %}">{% trans "About" %}</a>
			</div>
			<div class="col-xs-12 col-sm-8 pull-right">
				<ul class="fa-ul text-right">
					<li><i aria-hidden="true" class="fab fa-li fa-twitter"></i><a href="https://twitter.com/getpainless">Twitter</a></li>
					<li><i aria-hidden="true" class="fab fa-li fa-github"></i><a href="https://github.com/painless-software">GitHub</a></li>
					<li><i aria-hidden="true" class="fab fa-li fa-gitlab"></i><a href="https://gitlab.com/painless-software">GitLab</a></li>
					<li><i aria-hidden="true" class="fab fa-li fa-bitbucket"></i><a href="https://bitbucket.org/painless-software">Bitbucket</a></li>
				</ul>
			</div>
		</div>
{% endblock footer %}
